* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
a.prev {
    display: block;
    text-align: center;
    color: #535f77;
    margin: 30px 0 0 0;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 90px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
    background: #ff7f50;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.modal__bg{
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 30px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
}
.task-modal-close-icon {
    position: relative;
    left: 390px;
    bottom: 20px;
}
.modal__content_wh {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}
/* js */

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( 135deg, rgba(34, 157, 206, 0.8), rgba(7, 158, 151, 0.8)),
                url(../img/background.jpg);
    background-size: cover;
}
.container .left-side {
    top: 20px;
    left: 20px;
    position: fixed;
}
.container .left-side a {
    text-decoration: none;
}
.dropdown-item .logout-icon {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0 0 0 5px;
    padding: 11px 5px 5px 5px;
    border-radius: 50%;
    transition: .5s;
}
.contents {
    width: 70%;
    height: 100%;
    margin: 0 auto 0;
    padding: 75px 0;
}
.contents .content .main-title {
    margin: 6% auto;
}
.contents .content .main-title h1 {
    font-size: 4vw;
    font-weight: 100;
    line-height: 5vw;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
    right: 4px;
    position: relative;
}
.contents .content .main-title p {
    font-size: 1.25vw;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    margin: 0 0 25px 0;
}
.contents .content .main-title img {
    width: 360px;
}
.contents .content {
    display: flex;
    justify-content: space-between;
}
.contents .content .content-box {
    width: 33%;
    height: auto;
    margin: 0 15px;
}
.contents .content-show {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}
.contents .content-show .content-box {
    width: 45%;
    height: auto;
    margin: 0 20px;
}
.contents .content .content-item {
    text-align: left;
    color: #535f77;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 10px solid #ccc;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
    transition: 1s;
}
.contents .content .orange {
    border-left: 10px solid #ff7f50;
}
.contents .content .green {
    border-left: 10px solid #3cb371;
}
.contents .content .blue {
    border-left: 10px solid #4169e1;
}
.contents .content .content-box .state {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px;
    margin: 0 0 10px 0;
    color: #fff;
    border-top: 5px solid #fff;
    border-radius: 3px;
    background: #ccc;
}
.contents .content .content-box .orange-back {
    background: #ff7f50;
}
.contents .content .content-box .green-back {
    background: #3cb371;
}
.contents .content .content-box .blue-back {
    background: #4169e1;
}
.contents .content .content-item .inner-content-item {
    padding: 15px;
}
.contents .content .content-item .inner-content-item .title-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
.contents .content .content-item .inner-content-item .title-name .id {
    font-size: 15px;
    font-weight: 100;
}
.contents .content .content-item .inner-content-item p {
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    line-height: 22px;
    color: #5d6473;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
.contents .content .content-item .inner-content-item p.break{
    word-wrap: break-word;
}
.contents .content .content-item .inner-content-item a {
    font-size: 15px;
    color: #5d6473;
    margin: 0 5px 0 0;
}
.contents .content .content-item .inner-content-item .datetime {
    font-size: 13px;
    font-weight: 100;
}
.contents .content .content-item .inner-content-item .action .left-action form {
    display:inline-block;
}
.contents .content .content-item .inner-content-item .action .left-action button {
    font-size: 15px;
    color: #dc143c;
    margin: 0 5px 0 0;
    border: none;
}
.contents .content .content-item .inner-content-item .action .right-action {
    font-size: 10px;
    font-weight: 100;
    top: 7px;
    position: relative;
}
.contents .content .content-item .inner-content-item .action .right-action::after {
    content: "　";
    width: 10px;
    height: 10px;
    background: #ffdab9;
    border-radius: 50%;
    margin: 0 0 0 5px;
}

/* フォーム */
.form-label {
    font-size: 15px;
    color: #ff7f50;
    margin: 0 0 5px 0;
}
input[class="task-form"],.task-textarea {
    display: block;
    font-size: 15px;
    color: #79726e;
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 5px 15px 0;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4) inset;
}
.task-textarea {
    height: 100px;
    border-radius: 5px;
    margin: 0 0 25px 0;
    padding: 15px 15px 0;
}
.task-button {
    display: block;
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff7f50;
}
.show-form {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.radio-inline__label {
    display: inline-block;
    text-align: center;
    color: #fff;
    width: auto;
    margin: 10px 5px 10px 0;
    padding: 5px;
    border-radius: 3px;
    background: #ccc;
    transition: all .2s;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

/* ログイン・登録 */
.form-box {
    width: 380px;
    height: 440px;
    position: relative;
    margin: 6% auto;
    background: #3386e1;
    padding: 5px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.button-box {
    width: 220px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 0 5px #fff;
    border-radius: 30px;
    text-align: center;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f6c449;
    border-radius: 30px;
    transition: .5s;
}
.input-group {
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #f0f1f1;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    transition: 1s;
}
.input-field:focus {
    border-bottom: 1px solid #f6c449;
}
.submit-btn {
    width: 50%;
    padding: 20px 30px;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    color: #fff;
    background: #f6c449;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}
.submit-btn:hover {
    background: #f3a136;
}
label {
    color: #777;
    font-size: 12px;
} 
#login {
    left: 50px;
}
#register {
    left: 450px;
}

/* ユーザー */
.user-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.thumbnail {
    display: block;
    width: 150px;
    height: 150px;
    margin: 25px auto 20px;
    background: transparent;
    padding: 5px;
    border: 1px dotted #fff;
    border-radius: 50%;
    object-fit: cover;
}
.mini-thumbnail {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 10px;
    background: transparent;
    padding: 2px;
    border: 1px dotted #fff;
    border-radius: 50%;
    object-fit: cover;
}
.no-mini-thumbnail {
    background: #eee;
}
.user-name {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 10px 0;
}
.user-email {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
}