* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 90px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
    background: #ff7f50;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    min-height: 100vh;
    background: #fff;
}
.contents {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contents .content {
    display: flex;
    justify-content: space-between;
}
.contents .content .main-title {
    flex: 2;
    height: 100vh;
    background: linear-gradient( 135deg, rgba(34, 157, 206, 0.8), rgba(7, 158, 151, 0.8)),
                url(../img/background.jpg);
    background-size: cover;
}
.contents .content .main-title h1 {
    font-size: 5vw;
    font-weight: 500;
    line-height: 6vw;
    color: #fff;
    margin: 0 0 10px 0;
    top: 275px;
    left: 100px;
    position: relative;
}
.contents .content .main-title p {
    font-size: 1.25vw;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    top: 275px;
    left: 105px;
    position: relative;
}
.contents .content .main-title img {
    width: 360px;
}

/* ログイン・登録 */
.main-form {
    overflow: hidden;
}
.form-box {
    width: 380px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.button-box {
    width: 220px;
    margin: 70px auto;
    position: relative;
    box-shadow: 0 0 5px #ccc;
    border-radius: 30px;
    text-align: center;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #000;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f6c449;
    border-radius: 30px;
    transition: .5s;
}
.explanation-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 15px 0;
}
.input-group {
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 12px;
    color: #000;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    outline: none;
    background: #fce5ad;
    border-radius: 30px;
    box-shadow: 0 0 5px #ccc;
    transition: 1s;
}
.submit-btn {
    width: 50%;
    padding: 20px 30px;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    color: #fff;
    background: #f6c449;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}
.submit-btn:hover {
    background: #f3a136;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}
.illust1 {
    width: 50px;
    height: 100px;
    transform: rotate(135deg);
    top: 75px;
    left: 120px;
    position: relative;
}
